@use '../../../assets/styles/_global-style.scss' as *;

.project-list-item {
  box-sizing: border-box;
  width: 256px;
  height: 40px;
  border-radius: 12px;
  outline: none;
  border: none;
  cursor: pointer;
  @include text-label;


  &--normal {
    border: 1.5px solid $gray-scale-20;
    background-color: $gray-scale-00;
  }

  &--selected {
    border: 1.5px solid $primary-color-70;
    background-color: $primary-color-10;
  }
}