@use '../../../assets/styles/_global-style.scss' as *;

.login-form {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 486px;

  &__header {
    @include header2;
    margin-top: 80px;
  }

  &__user-name-input {
    margin-top: 24px;
  }

  &__user-name-password {
    margin-top: 24px;
  }

  &__login-button {
    margin-top: 48px;
  }

  &__create-new-button {
    margin-top: 56px;
  }
}