@use '../../../assets/styles/_global-style.scss' as *;

.project-summary {
  background-color: $gray-scale-00;
  border-radius: 12px;
  width: 310px;

  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  &__title {
    @include header2;
    margin-top: 48px;
    width: 240px;
    text-align: center;
    flex-shrink: 0;
  }

  &__header {
    margin-top: 40px;
    @include header3;
    line-height: 0%;
    flex-shrink: 0;
  }

  &__total {
    @include header2;
    line-height: 0%;
    color: $primary-color-70;
    flex-shrink: 0;
  }

  &__button {
    margin-top: 48px;
    margin-bottom: 24px;
    flex-shrink: 0;
  }
}


.modal-content {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &__current-time {
    @include header3();
    color: $primary-color-70;
    letter-spacing: 0.24rem;
  }

  &__current-time-loading {
    @include text-label;
    color: $primary-color-70;
  }

  &__project-name-container {
    position: relative;
    width: 320px;
    height: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 4px 0 12px 0;
    background-color: $gray-scale-10;
  }


  &__project-name-label {
    margin-top: 12px;
    @include text-label();
  }

  &__project-name {
    @include header3();
  }

  &__button {}

}