@use '../../../assets/styles/_global-style.scss' as *;

.signup {
  display: flex;
  flex-direction: row;

  @include unauthorized_template();

  &__header {
    @include header2;
    margin-top: 80px;
  }

  &__user-name-input {
    margin-top: 24px;
  }

  &__user-name-password {
    margin-top: 24px;
  }

  &__signup-button {
    margin-top: 48px;
  }
}