@use '../../../assets/styles/_global-style.scss' as *;

@mixin container {
  position: relative;
  width: 320px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  padding: 4px 0 12px 0;
  background-color: $gray-scale-10;
}

.modal-content {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  &__time-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__current-time {
    @include header2();
    color: $primary-color-70;
    letter-spacing: 0.24rem;
  }

  &__passed-time {
    @include header3();
    color: $primary-color-70;
    letter-spacing: 0.24rem;
    margin: 0;
    margin-bottom: 12px;
  }

  &__project-name-container {
    @include container();
  }


  &__project-name-label {
    margin-top: 12px;
    @include text-label();
  }

  &__project-name {
    @include header3();
  }

  &__start-time-container {
    @include container();
  }

  &__start-time-label {
    margin-top: 12px;
    @include text-label();
  }

  &__start-time {
    @include header3();
    letter-spacing: 0.24rem;
    color: $primary-color-70;
  }

  &__summary-container {
    @include container();
  }

  &__summary-text {
    @include header3();
    letter-spacing: 0.24rem;
    margin: 10px;
  }

  &__strong {
    color: $primary-color-70;
  }

  &__input {
    margin-top: 24px;
  }

}