@use '../../../assets/styles/_global-style.scss' as *;

.add-project-modal {
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__button {
    margin-top: 24px;
  }
}