@use '../../../assets/styles/_global-style.scss' as *;

.dashboard {

  &__content {
    position: absolute;
  }

  &__content-wrapper {
    width: 100vw;
    height: calc(100vh - 64px);
    background-color: $gray-scale-20;
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &__selected-project {
    display: flex;
    gap: 24px;
    padding: 24px;
  }
}