@use '../../../assets/styles/_global-style.scss' as *;

.project-history {
  width: calc(100vw - 702px);
  background-color: $gray-scale-00;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__selected-month {
    margin-top: 24px;
    @include header3;
  }

  &__items-wrapper {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #DEFBE6;
  }

  &__items-container {
    padding: 32px;
    width: max-content;
    background-color: #f7f3f2;

    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }


  &__item {
    // 仮
    width: 600px;
    height: 80px;
    background-color: #cac5c4;
  }
}