@use '../../../assets/styles/_global-style.scss' as *;

.project-history {
  width: calc(100vw - 702px);
  background-color: $gray-scale-00;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;


  &__month {
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__month-text {
    @include header3;
  }

  &__items-wrapper {
    height: fit-content;
    width: 100%;
    overflow: auto;
    // background-color: aqua;
  }

  &__items-container {
    padding: 24px;
    width: fit-content;
    margin: 0 auto;
    // background-color: blueviolet;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}