@use '../../../assets/styles/_global-style.scss' as *;

.flash-message {
  box-sizing: border-box;
  height: 56px;
  width: 100vw;
  outline: none;
  border: none;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;

  position: absolute;
  top: 0px;
  right: 0px;

  &--success {
    background-color: $success-color-10;
    @include text-success;
  }

  &--error {
    background-color: $error-color-20;
    @include text-error;
  }

  &__decorator {
    content: '';
    height: 56px;
    width: 6px;

    &--success {
      background-color: $success-color-60;
    }

    &--error {
      background-color: $error-color-60;
    }
  }

  &__message {
    margin-left: 18px;
  }
}